<!DOCTYPE html>
<html lang = "eng">
<title>Marcela's LinkedTree</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>

<style>
    html, body {font-family: "Roboto", sans-serif}

    .pill-nav a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        font-size: 17px;
        width: 400px;
        border: 5px;
    }

    .pill-nav a:hover {
        background-color:#9966ff ;
        color: white;
    }

    img{
        border: 200%;
        margin-top: 3%;
        width: 100px;
        height: 300px;
    }


</style>

<body style = "background-color: rgb(191, 160, 240)">
    <center>
    <img src = "{{picture}}" style="width:15%" alt="Avatar"><br>
    <h2 style = "color: grey">{{autora}}</h2>
        <right>
        <div class="pill-nav a">
            <ul class="pill-nav">
                {% for link in contactos %}
                    {% for k, v in link.items() %}
                    <a href="{{v}}" >{{k}}</a> <br>                        
                    {% endfor %}
                {% endfor %}
            <a href="/CV">Marcela's CV</a>
            </ul>
        </div>
        </right>
    </center>
  </body>
  </html>